body {
	   background-color:blue;
	   color:white;
     }

h1 {
	margin-left: auto;
	margin-right: auto;
	width:500px;
}

#secret{
	width:200px;
	height:200px;
	margin-right: auto;
	margin-left: auto;
}

